@font-face {
  font-family: "roboto";
  src: url("./roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "druk";
  src: url("./DrukXCond-Super.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "barbra";
  src: url("./barbra-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}